/*
 * Surcharger ici le style d'elemental_styleguide
 * avec celui d'Operator
 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,300&family=Quicksand:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #3F3F3F;
  line-height: 24px;
}


::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #006CFA;
}

::selection {
  color: #ffffff;
  background: #006CFA;
}

main {
  max-width: 1199px;
  padding: 30px 20px;
  width: 100%;
}

nav {
  background: #000000;
  padding: 10px 20px 40px 20px;
}

nav a {
  color: #ffffff;
  border-bottom: 0px;
}

nav a:hover {
  border-bottom: 0px;
  color: #ffffff;
}

nav ul {
  color: #ffffff;
  font-weight: bold;
}

nav > ul > li:first-child {
  margin-top: 0;
}

nav > ul > li {
  margin: 1.5em 0 0;
  padding: 1.5em 0 0;
  box-shadow: 0 -1px 0 0 #dfe3e63b;
}

nav > ul > ul {
  margin: 1em 0;
}

nav > ul > li > ul > li {
  margin: .5em 0;
  opacity: 0.7;
}

a {
  color: #006CFA;
  border-bottom: 2px solid #006CFA;
}

a:hover {
    border-color: #054ADA;
    color: #054ADA;
}

.exemple {
  padding: 20px;
}

code {
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  border-bottom: 2px solid #cacaca;
  color: #000000;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: -0.21px;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  color: #000000;
  font-size: 32px;
  line-height: 40px;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

h3 {
  color: #000000;
}

.logo {
  margin-top: 1rem;
}

.grid-container {
  grid-template-columns: 240px auto;
}

pre {
  overflow: scroll;
}

/* grid system
affiche des bordures pour visualiser les elements */

div[class^="bx--col"]{
   border: 1px solid black;
}
